{% extends "core/base.html" %}
{% block content %}
<div id=about>
    <h1 id=title>About</h1>
    <p>
        RecipeRoller is a simple site I made for days when I can't decide what to eat.
        The main feature is a roll button that throws a random recipe at you, however this site also
        features a list of all the uploaded recipes. Uploading recipes is also possible,
        but it requires a key so that random visitors can't upload profanities etc.
    </p>
    <br>
    <p>Made by Joakim Riikonen. Built using basic HTML/CSS/JS for frontend and Django for backend.</p>
</div>
{% endblock %}