{% extends "core/base.html" %}
{% block content %}
<h1 id="title">Add a recipe</h1>
<form method="POST" autocomplete="off">
    {% csrf_token %}
    <div id="inputs">
        <input type="hidden" id="extra_ingredients" name="extra_ingredients">
        <input type="hidden" id="extra_instructions", name="extra_instructions">
        <p id="inputtitle">Name</p>
        {{ form.name }}
        <p id="inputtitle">Description</p>
        {{ form.description }}
        <p id=inputtitle>Ingredients</p>
        <div id="ingredient-inputs">
        </div>
        <p id="inputtitle">Instructions</p>
        <div id="instruction-inputs">
        </div>
        <p id="inputtitle">Authorization key</p>
        {{ form.authkey }}
        {% for error in form.authkey.errors %}
            <div class="error">
                {{error|escape}}
            </div>
        {% endfor %}
        <input type="submit" value="Submit">     
    </div>
</form>
{% load static %}
<script type="text/javascript" src="{% static "core/addrecipe.js" %}">
</script>
{% endblock %}