<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "core/styles.css" %}">
    <title>{% block title %}Reciperoller{% endblock %}</title>
</head>

<body>
    <div id=navbar>
        <ul>
            <li><a href="{% url 'index' %}">Roll</a></li>
            <li><a href="{% url 'listrecipes' %}">List of recipes</a></li>
            <li><a href="{% url 'addrecipe' %}">Upload new recipe</a></li>
            <li style="float:right"><a href="{% url 'about' %}">About</a></li>
        </ul>
    </div>
    <div id=content>
        {% block content %}{% endblock %}
    </div>
</body>
