<!DOCTYPE html>
<head>

</head>
<body>
    <h1>{{ name }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <button>Roll for another one</button>
    </form>
    <div id="Ingredients">
        <table id="Ingredients_table">
            <th className="Ingredients_table_heading">
            <span id="title">Ingredients</span>
            <span id="servings">4 servings</span>
            </th>
            {% for item in ingredients %}
            <tr className="Ingredients_table_row">
            <td>{{ item }}</td>
            </tr> 
            {% endfor %}
        </table>
    </div>
    <div id="Instructions">
        <span id="title">Instructions</span>
        <ol>
            {% for item in steps %}
            <li>{{ item }}</li>
            {% endfor %}
        </ol>
    </div>
</body>