<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "core/styles2.css" %}">
</head>
<body>
    <div class="upper-container">
        <h1>{{ name }}</h1>
        <p>{{ description }}</p>
    </div>
    <div class="lower-container">
        <div id="ingredients">
            <table id="Ingredients_table">
                <th className="ingredients_table_heading">
                    <span id="title">Ingredients</span>
                </th>
                {% for item in ingredients %}
                <tr className="Ingredients_table_row">
                <td>{{ item }}</td>
                </tr> 
                {% endfor %}
            </table>
        </div>
        <div id="instructions">
            <span id="title">Instructions</span>
            <ol>
                {% for item in steps %}
                <li>{{ item }}</li>
                {% endfor %}
            </ol>
        </div>  
    </div>
    <p>Not happy?</p>
    <form action="" method="POST">
        {% csrf_token %}
        <button>Roll for another one</button>
    </form>
</body>