<!DOCTYPE html>
<head>

</head>
<body>
    <h1>Sweet potatos and shit</h1>
    <button>Roll for another one</button>
    <div id="Ingredients">
        <table id="Ingredients_table">
            <th className="Ingredients_table_heading">
            <span id="title">Ingredients</span>
            <span id="servings">4 servings</span>
            </th>
            <tr className="Ingredients_table_row">
            <td>4 potato</td>
            </tr> 
            <tr className="Ingredients_table_row">
            <td>4 potato</td>
            </tr>
            <tr className="Ingredients_table_row">
            <td>4 potato</td>
            </tr>  
        </table>
    </div>
    <div id="Instructions">
        <span id="title">Instructions</span>
        <ol>
            <li>Do stuff</li>
            <li>Do stuff</li>
            <li>Do stuff</li>
            <li>Do stuff</li>
        </ol>
    </div>
</body>