body {
    background-color: white;
    text-align: center;
    font-family: "Helvetica", serif;
    margin: 0 auto;
    width: 100%;
    color: #2c2c2c;
}
#navbar {
    min-width: 100%;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #368cbf;
}

#navbar li {
    float: left;
}

#navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

#navbar li a:hover{
    background-color: white;
    color: #2c2c2c
}




h1 {
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: #368cbf;
}

p {
    font-size: 20px;
}

.upper-container {
    padding: 15px;
    margin: 0 auto;
}

.lower-container {
    margin: 0 auto;
}

button {
    background-color: white;
    margin-bottom: 20px;
    border: 2px solid #368cbf;
    color: #2c2c2c;
    padding: 15px 30px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

button:hover {
    background-color: #368cbf;
    color: white;
    cursor: pointer;
}

button:active {
    background-color: white;
    color: #2c2c2c;
}

#title{
    font-weight: bold;
    font-size: 50px;
}

#ingredients {
    padding: 4px;

    font-size: 20px;
    flex: 0 0 50%;
}

th {
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px 10px;
    border-top: 1px solid #368cbf; 
    min-width: 250px;
    width: 50%;
    text-align: left;
}

#ingredients.li {
    padding: 7px;
}

#instructions {
    padding: 10px;

    font-size: 20px;
    text-align: left;
    flex: 0 0 50%;
}

#instructions ol {
    list-style: none;
    counter-reset: li;
}

#instructions li {
    counter-increment: li;
}

#instructions li::before{
    content:counter(li);
    color: #368cbf;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#recipeslist {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
}

#recipeslist ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#recipeslist li{
    text-align: left;
    padding: 10px;
}

#recipeslist a{
    text-decoration: none;
    color: #2c2c2c;
}

#recipeslist a:hover{
    text-decoration: underline;
    text-decoration-color: #368cbf;
}

input[type=text]{
    font-size: 20px;
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #2c2c2c;
    box-sizing: border-box;
}
    
input[type=text].newfield {
    border: 1px solid #999999;
    color: #999999;
}

textarea {
    font-size: 20px;
    font-family: "Helvetica", Serif;
    width: 100%;
    height: 100px;
    padding: 12px 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #2c2c2c;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit]{
    background-color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 2px solid #368cbf;
    color: #2c2c2c;
    padding: 7px 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

input[type=submit]:hover{
    background-color: #368cbf;
    color: white;
    cursor: pointer;
}

input[type=submit]:active{
    background-color: white;
    color: #2c2c2c;
}

#inputs{
    margin: 0 auto;
    width: 80%;
}

#inputtitle{
    text-align: left;
    margin: 15px 0 0 0;
}

#about p{
    margin: 0 auto;
    width: 90%;
}

@media screen and (min-width: 1000px){
    
    .upper-container {
        width: 1000px;
    }

    .lower-container {
        width: 1000px;
        display: flex;
    }

    #ingredients {
        width: 100%
    }

    #inputs {
        width: 40%;
    }

    #about p{
        width: 60%;
    }
}

.error{
    float:left;
    font-size: 18px;
    padding: 0 4px;
    color: #FF4D4D;
}